<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="output.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/vue-multiselect/dist/vue-multiselect.min.css"/>
</head>
<body>


<script src="/webjars/jquery/dist/jquery.min.js"></script>
<script src="webjars/vue/dist/vue.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>
<script src="webjars/vue-multiselect/dist/vue-multiselect.min.js"></script>
<script th:inline="javascript">
    let modelData = /*[[${statuss}]]*/[];
</script>
</body>
</html>

